{# CARTA #}

    <div class="col-md-6 col-sm-8 col-xs-12">
    {% if carta %}
    <h2>Carta de {{local.nombre | title}}</h2>
    {% if carta.cartaproducto_set.all %}
    <div class="table-responsive">

        <table class="table ">
            <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for elemento in carta.cartaproducto_set.all %}
            <tr>
                <td>{{elemento.producto.nombre}}</td>
                <td>$ {{elemento.precio}}</td>
                <td><a href="#" class="btn btn-primary">Modificar</a></td>
                <td><a href="#" class="btn btn-primary">Eliminar</a></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <h4>Aún no hay productos para mostrar</h4>
    {% endif %}
    <button type="button" class="btn btn-default" id="anadir_elemento">Añadir elemento</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:20px 30px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon icon-bar"></span> Añadir producto</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form method="post" role="form" action="/anadirElementoCarta">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="precio">Producto</label>
                            <select class="form-control" id="producto" name="producto">
                                {% for producto in local.producto_set.all %}
                                <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input type="number" class="form-control" id="precio" name="precio" placeholder="Ej: 4500"
                            oninvalid="this.setCustomValidity('Ingresa un número entre el 1 y el 50000')"
                            min="1"
                            max="50000" />
                        </div>
                            <button type="submit" class="btn btn-success btn-block">Agregar Producto</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                    <p>¿No está en la lista? <a href="#">Añadir producto</a></p>
                </div>
            </div>
        </div>
    </div>


{% else %}
    <h2>Aún no hay carta ):</h2>
    <a href="/crear_Carta" class="btn btn-primary">Crear carta</a>
{% endif %}
    </div>
{# END CARTA #}